<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML Prediction</title>
    <link rel="stylesheet" type="text/css" href="S1.css">

</head>
<body>
    <div class="nav-bar">
        <h1>Inner Peace</h1>
    </div>
    <div class="container">
    <form method="POST">
        Age: <input type="number" name="Age"><br>
        Gender: <input type="text" name="Gender"><br>
        Screen Time (hours): <input type="number" name="ScreenTime"><br>
        Active Lifestyle (Scale 1-5): <input type="number" name="ActiveLifestyle"><br>
        Sleep Time (hours): <input type="number" name="SleepTime"><br>
        Stress Levels (Scale 1-5): <input type="number" name="StressLevels"><br>
        Mood (Scale 1-5): <input type="number" name="Mood"><br>
        Social Relationship Scale (Scale 1-5): <input type="number" name="SocialRelationship"><br>
        <input type="submit" value="Predict">
    </form>
    </div>
</body>
</html>
